body {
    font-family:Verdana,Helvetica,sans-serif;
    font-weight: normal;
    color: #6c757d;
    line-height:1.4em;
    background-color: #E5E8EF;
}

#container {
    width: 100%;
    height: auto;
}

/* Sidebar */

#sidebar {
    height: 100%;
    width: 260px;
    position: fixed;
    background-color: #4a525a;
    padding-top: 20px;
}

#sidebar ul {
    margin-left: 45px;
    letter-spacing: 1px;
}

#sidebar ul li {
    list-style-type: none;
}

#sidebar ul li a {
    text-decoration: none;
    color:rgba(217, 204, 204, 0.5);
}

#sidebar ul li a:hover {
    color: #fff;
    background-color: #606870;
}

#sidebar img {
    display: block;
    margin: 20px auto;
    width: 160px;
    height: 160px;
    margin-top:150px;
}