body {
    font-family:Verdana,Helvetica,sans-serif;
    font-weight: normal;
    color: #6c757d;
    line-height:1.4em;
    background-color: #E5E8EF;
}

#container {
    width: 100%;
    height: auto;
}